name: Publish to PyPI

on:
  push:
    tags:
      - 'Shell-v*'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    # environment: release
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Build package
      run: |
        python -m pip install build
        python -m build
    
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@v1.13.0
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
